


.welcomeContainer{
/* width: 100%; */
  background-color: red;
  height: 99.5vh;
}


/* TOP OF WELCOME */
.welcomeContainer-top-video{
  /* width: 100%; */
}

#splash_trading-video{
  position: relative;
    top: 0;
    padding: 0px;
    margin: 0px;
    /* position:absolute; */
    z-index: 0;
    object-fit: fill;
     width:100%;
      height: 100vh; 
      overflow-y: hidden;
}



.welcomeContainer-top-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  
}

#welcomeContainer-top-h2-text-1{
  font-size: 63px;
  font-weight: 900;
  margin: 10px;
 
}

#welcomeContainer-top-h2-text-2{
  font-size: 23px;
  font-weight: 100;
}

.welcome-top_have-account{
  display: flex;
  
}

#welcomeContainer-top_button_signup-up,
#welcomeContainer-top_button_loginin,
#welcomeContainer-top_button_demo{
  color: white;
  background-color: #D13138;
  border-radius: 5px;
  height: 45px;
  width: 210px;
  border-style: none;
}



#welcomeContainer-top_button_signup-up{

}
#welcomeContainer-top_button_loginin{
margin-right: 8px;
}
#welcomeContainer-top_button_demo{
margin-left: 8px;
}




.welcomeContainer-top-right{}

/* MIDDLE OF WELCOME */
.welcomeContainer-middle{}
.welcomeContainer-middle-left{}
.welcomeContainer-middle-right{}

/* BOTTOM OF WELCOME */
.welcomeContainer-bottom{}
.welcomeContainer-bottom-left{}
.welcomeContainer-bottom-right{}

/* FOOTER OF WELCOME */
.welcomeContainer-footer{}


/* @media (min-aspect-ratio: 16/9) { */
  #splash_trading-video {
    position: relative;
    top: 0;
    padding: 0px;
    margin: 0px;
    /* position:absolute; */
    z-index: 0;
    object-fit: fill;
     width:100%;
      height: 100vh; 
      overflow-y: hidden;
  }
/* } */