.workoutVideo_container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workoutVideo_container video{
  width: auto;
  height: 100%;
  overflow: hidden;
}

