.workouts_container{
background-color: red;
}

.workouts_header{
  display: flex;
  background-color: green;
}
.workouts_header-coach{
  background-color: yellow;
}
.workouts_header-workout-progress{
  background-color:teal;
}

.workouts_body{
  background-color: violet;
}

.workouts_body-clock{
  background-color: aquamarine;
}

.workouts_footer{
  display: flex;
  background-color: blueviolet;
}
.workouts_footer-rating{
  background-color:burlywood;
}
.workouts_footer-favorite{
  background-color: rgb(54, 146, 58);
}
.workouts_footer-pause-end{
  background-color: rgb(187, 21, 49);
}