.workouts_container{
background-color: red;
}

.workouts_header{
  display: flex;

  padding-right: 20px;
  padding-left: 20px;
  color:white;
}

.workouts_header-coach img{
  background-color: yellow;
  max-height: 150px;
  border-radius: 50%;
}

.workouts_header-coach h2{
  text-align: center;
}


.workouts_body{
  
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 20px 0px;
}

.workouts_body-clock{


}
