.login_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #231F20;
  
}

.login_container_exit{
  background-color: #231F20;
}

.login_container h1{
  font-size: 23px;
  font-weight: 400;
  margin: 10px;
  width: 250px;
  color: white;
}

.loginexit{

  padding-left: 10px;
  color: white;
}

.login_form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}

.login_form input{
  width: 90%;
  display: flex;


  margin-top: 5px;
  height: 30px;
  background-color: #ff3b4575;
  border: none;
  border-radius: 5px;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
   
}

.login_inputs{
  display: flex;
  justify-content: center;
padding: 5px;
}

.login_form button{
  margin-top: 20px;
  color: white;
  background-color: #D13138;
  border-radius: 5px;
  height: 45px;
  width: 210px;
  border-style: none;
  margin-bottom: 20px;
}
