
.leaderboard-each {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  /* padding-right: 20px; */


  margin-bottom: 18px;
}

.leaderboard-each-left{
  display: flex;

}

.leaderboard-pos {
padding-right: 5px;

}

#pos1 {
color: rgb(2, 233, 2);
}
#pos2 {
  color: rgb(2, 233, 2);

}
#pos3 {
  color: rgb(2, 233, 2);

}

.leaderboard-img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
}

.leaderboard-each-right{
  

}

.leaderboard-name {
  vertical-align: middle;
}
.leaderboard.workotus {
}

