/* TODO Add site wide styles */

#root{
  padding: 0px;
  margin: 0px;
}

body{
  
  padding: 0px;
  margin: 0px;
  font-family: 'Core Sans C 65';
  background-color: black;
  /* background-color: white; */
  /* background-color: #231F20; */


}

button{
  cursor: pointer;
  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

::-webkit-scrollbar {
  display: none;
}


a {
  text-decoration: none;
  color: black;
}



/* disable scroll left to right on mobile */
@media screen and (max-width: 768px) {
  html,body{
    overflow-x: hidden;
    overflow-y: auto;
  }
}
  
