.login__background_video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  /* background-image: url("http://cdn.shopify.com/s/files/1/2510/5836/articles/Mike_Rashid_Heavyweight_Boxer_Training_1200x1200.png?v=1610545981"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .login__background{
    /* background-image: url("https://www.oxfordmail.co.uk/resources/images/10763753/"); */
    background-color: red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .login__background_video{
    display: none;
  }
}
  
