
.login__background_video{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

}

@media screen and (max-width: 768px) {
  .login__background{
    /* background-image: url("https://www.oxfordmail.co.uk/resources/images/10763753/"); */
    background-color: red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

 
  }
  .login__background_video{
    display: none;
  }
}
  
