.navBar_links_container__desktop{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75vw;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-right: 15px;
}

.navBar_links_container__mobile{
  display: none;
}

@media screen and (max-width: 768px) {
  .navBar_links_container{
    flex-direction: column;
  }
  
  .navBar_links_container__mobile{
    display: flex;
  }
  
  .navBar_links_container__desktop{
    display: none;
  }




}
  


