.user_container{
  background-color: red;
}

.user_container-header{
  background-color: green;
  display: flex;

}

.user_container-header-profilePhoto img{
  max-height: 150px;
  border-radius: 50%;
}

.user_container-header-ContentBox{
  display: flex;
  flex-direction: row;
  background-color: rosybrown;
  border: 3px solid rgba(0, 0, 0, 0.507);
  width: 100%;
  justify-content: space-between;
  
}