.progress_photos__container{
  text-align: center;
  color: #777e90;
}

.progress_photos__user_images{
  display: flex;
  justify-content: center;
background-color: red;
}

.progress_photos__user_images img{

  width: 300px;
  height: auto;
  padding-right: 20px;
}


.progress_photos-form-container{
  display: flex;
  justify-content: center;
}

.progress_photos img{
  max-height: 300px;
  width: auto;
  padding: 10px;
}

.progress_photos-form button{
  margin-top: 20px;
  color: white;
  background-color: #D13138;
  border-radius: 5px;
  height: 45px;
  width: 210px;
  border-style: none;
}

.progress_photos-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95vw;
  padding: 20px;
}