.comments_page-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#Group_Name{
  text-align: center;
  color: #777e90;
}

.comments-container{
  background-color: #231f20;
  border: 2px solid #332e2f;
  width: 65%;
/* background-color: aquamarine; */
}


.comments-each{
  color: #777e90;
}